<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Doctor</title>
</head>
<body>
<h1>Edit Doctor</h1>
<form action="#" th:action="@{/doctors/update/{id}(id=${doctor.id})}" th:object="${doctor}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
        <label for="speciality">speciality:</label>
        <input type="text" id="speciality" th:field="*{speciality}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" th:field="*{phone}" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
