<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor List</title>
</head>
<body>
<h1>Doctor List</h1>
<a href="/doctors/new">Add New Doctor</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>speciality</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}">1</td>
        <td th:text="${doctor.name}">Dr. Smith</td>
        <td th:text="${doctor.speciality}">Cardiology</td>
        <td th:text="${doctor.email}">smith@example.com</td>
        <td th:text="${doctor.phone}">1234567890</td>
        <td>
            <a th:href="@{/doctors/edit/{id}(id=${doctor.id})}">Edit</a>
            <a th:href="@{/doctors/delete/{id}(id=${doctor.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
